@page "/fruits"
@using BlazorHybridDraggable.Components.Models;

<h1>Fruits</h1>

<div class="container">
    <div class="row gy-3">
        <FruitContainer List="this.fruits" OnUpdate="this.StateHasChanged">
            <div class="col-sm-6">
                <FruitList ListStatus="FruitStatus.Store"/>
            </div>
            <div class="col-sm-6">
                <FruitList ListStatus="FruitStatus.Cart"/>
            </div>
        </FruitContainer>
    </div>
</div>

@code
{
    /// <summary>
    /// Fruits in the store.
    /// </summary>
    private IEnumerable<Fruit> fruits = new List<Fruit>
    {
        new()
        {
            Name = "Apple",
            Description = "A fresh and juicy apple!",
            ImageUrl = "https://www.fruitcentermarketplace.com/assets/2016/07/apple-single-red.jpg",
            Status = FruitStatus.Store
        }
    };
}
