@page "/"

<h1>Welcome to Food Mart!</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="fruits">
        Fruits
    </a>
    <a class="list-group-item list-group-item-action" href="veggies">
        Vegetables
    </a>
    <a class="list-group-item list-group-item-action" href="dessert">
        Dessert
    </a>
    <a class="list-group-item list-group-item-action" href="coffee">
        Coffee
    </a>
</div>